<html lang="en" class=" js csstransforms3d">
  <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/icons.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/component.css">
		<script src="javascripts/modernizr.custom.js"></script>
	</head>
	
		<style>
	    
	    .st-content {
	        
	        background-image: url("http://avante.biz/wp-content/uploads/Raining-Wallpapers/Raining-Wallpapers-041.jpg");
	        
	    }
	    
	</style>
	
	<body>
		<div id="st-container" class="st-container st-effect-5">
			
			<nav class="st-menu st-effect-5" id="menu-5" style="background: #4D5941; color:#FFF">
				<h2 class="icon icon-paperplane">Navigation</h2>
				<ul>
				  <li><a class="icon icon-shop" href="/">Home</a></li>
					<li><a class="icon icon-news" href="/facts">Facts About Bees</a></li>
					<li><a class="icon icon-location" href="#">Location</a></li>
					<li><a class="icon icon-study" href="#">Study</a></li>
					<li><a class="icon icon-megaphone" href="/forums">Forums</a></li>
					<li><a class="icon icon-banknote" href="/donate">Donate</a></li>
					{{#if user}}
					<li><a href="/profile"><img src = {{user.avi}} width = 20px style = "border-radius:8px;float:left">&nbsp;&nbsp;&nbsp;My Profile</a></li>
					<li><a class="icon icon-lock" href="/auth/logout">Logout {{user.username}}</a></li>
					{{/if}}
				</ul>
			</nav>
			
			<!-- content push wrapper -->
			<div class="st-pusher">
				
				<div class="st-content"><!-- this is the wrapper for the content -->
					<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
						<!-- Top Navigation -->
						<div class="main clearfix" style="float:left; padding:5px">
							<div id="st-trigger-effects">

								<button data-effect="st-effect-5">Menu</button>
                
							</div>
						</div><!-- /main -->
						
							
								<img class="center" style="float:right; width:10%" src="/images/bees-01.png">
								<center>
<br style="line-height:100px">
								 <div style = "border:0px solid #000; width:80%; background-color:#FFF; padding: 2%; padding-right:2%" class = "polaroid">
<a href = "/edit"><img width = 20px style = "float:right" src = "https://image.flaticon.com/icons/png/512/34/34022.png"></a>
<img class = "zoom" src = {{user.avi}} style = "border-radius:200px; border:3px solid #{{user.color}}" width = 150px>

<br>

<h1 style = "color:#000">{{user.name}} {{#if user.verified}}<img width = 25px src = "https://i0.wp.com/castercomm.com/wp-content/uploads/2016/07/Twitter-checkmark.png?resize=316%2C316&ssl=1">{{/if}}</h1> 
<p style = "color:#8c8c8c; font-size:25px">@{{user.username}}</p>
<hr style = "border:1px solid #{{user.color}}"><br>

<p style = "color:#737373">{{user.bio}}</p>

</div>

<br style="line-height:30px">
								 <div style = "border:0px solid #000; width:80%; background-color:#FFF; padding: 2%; padding-right:2%" class = "polaroid">

<p style = "color:#737373">You have no posts yet! Create one now.</p>
</div>
<br style="line-height:30px">
</center>
								 
					</div><!-- /st-content-inner -->
				</div><!-- /st-content -->
			</div><!-- /st-pusher -->
		</div><!-- /st-container -->
		<script src="javascripts/classie.js"></script>
		<script src="javascripts/sidebarEffects.js"></script>
	
</body></html>
